

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<link rel="stylesheet" href="base_second.css" />



    <meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">





</head>
<!-- <body style="background: rgba(0, 0, 170, 0.1);"> -->
<body >











<!-- Upload  -->



<div class="file-container" style="float:left;  left: 0; ">
  <div class="file-overlay"></div>
  <div class="file-wrapper"><input class="file-input" id="js-file-input" type="file" />
    <div class="file-content">
      <h1>Export PDF with a custom font</h1>
      <h2 class="subheader">using jsPDF plugin </h2>
      <div class="file-infos">
        <p class="file-icon"><i class="fas fa-folder-open fa-3x"></i><span class="icon-shadow"></span>
        <div class="upload-text"><span class="has-drag">Drag & Drop your file here</span><span class="bold">OR</span><span> <button>Click to upload</button></span></div>

        </p>
      </div>
      <p class="file-name" id="js-file-name">No file selected</p>
    </div>

    <input type="submit" value="Analyser" style = '  display:flex;   width : 40%; height: 10%; margin:5px auto; ' />

  </div>
</div>











</body>

 <head>
 <script src="upload_second.js"></script>
</head>

</html>

