<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> </title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>


<link rel="stylesheet" href="{{ url_for('static', path='css/base_download.css') }}" />



    <meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>






</head>
<!-- <body style="background: rgba(0, 0, 170, 0.1);"> -->
<body >






    <img src="{{ url_for('static',path='css/yolov5_logo.png') }}" style = 'display:flex;   width : 20%; height: 20%; margin:10px auto; border-radius: 10%; '>

    <h3   style = ' text-align:center; color: #000000; font-size: 50px; margin:30px auto;'> Download results </h3>



    <!-- <div   style = 'display:flex;   width : 140px; height: 140px; margin:10px auto;  ' > <img src="analye_doc.jpg" > </div> -->

<h3 style = '   text-align:center; color: #f0f8ff; text-decoration: underline;  font-size: 25px;   margin:0px auto;'> Click below </h3>


<div  style = 'display:flex;  margin-bottom: 2%;   width : 20%; height: 20%;      ' onclick="window.location.href='{{ url_for('download') }}'" >
<div class="container-fluid" >
	<div class="row">
		<div id="ms-container">
			<label for="ms-download">
				<div class="ms-content">
					<div class="ms-content-inside">
						<input type="checkbox" id="ms-download" />
						<div class="ms-line-down-container">
							<div class="ms-line-down"></div>
						</div>
						<div class="ms-line-point"></div>
					</div>
				</div>
			</label>
		</div>
	</div>
</div>
</div>



<button class="custom-btn btn-11" style = ' display:flex; margin: auto; margin-top: 15%; margin-bottom: 1%;  width : 10%; height: 5%;   color: #000000  ;' onclick="window.location.href='{{ url_for('Acceuil') }}'" >Accueil</button>





</body>



</html>
